	<div class="container">
  <h4 class="mt-3">登録情報編集</h4>

  <div class="row">
    <div class="col-lg-12">
      <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg"%>
      <%= form_with model: @user, local: true do |f| %>
        <div>
          <div class="col-xs-12">
            <%= f.label :"プロフィール画像", class: "col-sm-3 control-label", style: "margin: 10px;" %>
            <%= f.attachment_field :profile_image, autofocus: true, autocomplete: "profile_image_id", class: "col-sm-6 form-control-static", style: "padding: 10px;" %>
          </div>
          <div class="col-xs-12">
            <%= f.label :"名前", class: "col-sm-3 control-label", style: "margin: 10px;" %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-sm-6 form-control-static", style: "margin: 10px;" %>
          </div>
          <div class="col-xs-12">
            <%= f.label :"メールアドレス", class: "col-sm-3 control-label", style: "margin: 10px;" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static", style: "margin: 10px;" %>
          </div>
          <div class="col-xs-12">
            <%= f.label :"自己紹介", class: "col-sm-3 control-label", style: "margin: 10px;" %>
            <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class: "col-sm-6 form-control-static", style: "margin: 10px;" %>
          </div>
        </div>

        <div class="actions col-xs-10 offset-md-4 mt-3">
          <p>
            <%= f.submit "編集内容を保存する", class: "btn btn-primary btn-sm", style: "margin: 10px;" %>
            <%= link_to " 退会する", quit_confirm_path, class: "glyphicon glyphicon-tint btn btn-danger btn-sm ml-5", style: "margin: 10px;" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>

</div>