<div class="container">
  <div class="row">

    <div class="col-4 text-center">
      <%= render  'users/user_info',  user: @user %>
    </div>

    <div class ="col-8">
      <h3>投稿一覧</h3>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">タイトル</th>
            <th scope="col">ジャンル</th>
            <th scope="col">本文</th>
            <th scope="col">いいね</th>
            <th scope="col">コメント</th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
        <tbody>
          <tr>
            <td><%= link_to post.title , post_path(post.id) %></td>
            <td><%= post.genre.name %></td>
            <td><%= post.body %></td>
            <td><%= post.likes.count %></td>
            <td><%= post.comments.count %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

  </div>
</div>







