<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="col-lg-3 text-center">
      <%= render  'users/user_info',  user: @user %>
    </div>

    <div class ="col-lg-8">
      <h3>投稿一覧</h3>

      <table class="table">
        <thead>
          <tr>
            <th class="col-2">タイトル</th>
            <th class="col-2">ジャンル</th>
            <th class="col-4">本文</th>
            <th class="col-2">いいね</th>
            <th class="col-2">コメント</th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
        <tbody>
          <tr>
            <td class="col-2"><%= link_to post.title , post_path(post.id) %></td>
            <td class="col-2"><%= post.genre.name %></td>
            <td class="col-4"><%= simple_format post.body %></td>
            <td class="col-2"><%= post.likes.count %></td>
            <td class="col-2"><%= post.comments.count %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

  </div>
</div>







