<div class="row post-conntent">
  <div class="col-4 title-area">
    <%= post.title %>
    <%= link_to post.user.name ,user_path(post.user) %>
    <%= post.genre.name %>
    <td id = "likes<%= post.id %>" ><%= render  'likes/like',  post: post %></td>
    <%= link_to post_comments_path(post.id) do %>
      <td>コメント<%= post.comments.count %></td>
    <% end %>
    <% if post.user == current_user %>
      <%= link_to '編集', edit_post_path(post), class: "btn btn-sm btn-success edit_post_#{post.id}" %>
    <% end %>
  </div>

  <div class="col-8 text-area">
    <td><%= post.body %></td>
  </div>
</div>