<div class="container">
  <div class="row justify-content-center">
    <div class="my-3 col-8">
      <%= search_form_for @q, url: search_posts_path do |f| %>
        <%= f.label :genre_name_cont, 'ジャンル' %>
        <%= f.collection_select :genre_name_cont, Genre.all, :name, :name, include_blank: "選択して下さい" %>
        <%= f.label :body_cont, '本文' %>
        <%= f.search_field :body_cont, class:"search_box", placeholder:"キーワードを入力してください", size:"30" %>
        <%= f.submit '検索' %>
      <% end %>
    </div>
    <div class ="col-12">

        <h3>投稿一覧</h3>

        <div class="jscroll scroll-list">
          <table class="table">
          <thead>
            <tr>
              <th scope="col">ユーザー名</th>
              <th scope="col">タイトル</th>
              <th scope="col">ジャンル</th>
              <th scope="col">本文</th>
              <th scope="col">いいね</th>
              <th scope="col">コメント</th>
            </tr>
          </thead>
          <% @posts.each do |post| %>
          <tbody>
            <tr>
              <td><%= post.user.name %></td>
              <td><%= link_to post.title , post_path(post.id) %></td>
              <td><%= post.genre.name %></td>
              <td><%= post.body %></td>
              <td><%= post.likes.count %></td>
              <td><%= post.comments.count %>
            </tr>
          </tbody>
          <% end %>
        </table>
          <%= paginate @posts %>
        </div>

      </div>
  </div>
</div>

      <%# @ranking.each.with_index(1) do | post, i | %>
        <%#= i %>
        <%#= post.title %>
        <%#= post.likes.count %>
      <%# end %>