<div class="container">
  <div class="row justify-content-end">
    <%= search_form_for @q, url: search_posts_path do |f| %>
      <%= f.search_field :body_cont, class:"search_box", placeholder:"キーワードを入力してください", size:"30" %>
      <%= f.submit '検索' %>
    <% end %>
  </div>
  <div class="row justify-content-end"><%= link_to "最新の投稿を見る", search_posts_path %></div>


  <div class="row justify-content-center">


    <div class ="col-12">

        <h1 class="mb-5 text-center">〜投稿一覧〜</h1>

        <div class="jscroll scroll-list">
          <table class="table">
            <thead>
              <tr>
                <th>投稿日</th>
                <th>ユーザー名</th>
                <th>タイトル</th>
                <th>ジャンル</th>
                <th>本文</th>
                <th>いいね</th>
                <th>コメント</th>
              </tr>
            </thead>
            <% @posts.each do |post| %>
            <tbody>
              <tr>
                <td class="col-1"><%= post.created_at.strftime("%Y年%m月%d日") %></td>
                <td class="col-2"><%= post.user.name %></td>
                <td class="col-2"><%= link_to post.title , post_path(post.id) %></td>
                <td class="col-2"><%= post.genre.name %></td>
                <td class="col-3">
                  <div class="grad-item"><%= simple_format post.body %></div>
                  <div class="grad-btn"><%= link_to "続きを読む ➔" , post_path(post.id) ,class:"read-btn" %></div>
                </td>
                <td class="col-1"><%= post.likes.count %></td>
                <td class="col-1"><%= post.comments.count %>
              </tr>
            </tbody>
            <% end %>
          </table>
          <div class="invisible"><%= paginate @posts %></div>
        </div>

    </div>

  </div>

</div>

      <%# @ranking.each.with_index(1) do | post, i | %>
        <%#= i %>
        <%#= post.title %>
        <%#= post.likes.count %>
      <%# end %>